<div class="col-md-12">
  <p class="text-center">
    <strong>Dashboard</strong>
  </p>
  <div class="col-md-6">
    <%= render 'movements/dashboards/for_floor' %>
  </div>
  <div class="col-md-6">
    <%= render 'movements/dashboards/for_sector' %>
  </div>
  <div class="col-md-6">
    <%= render 'movements/dashboards/for_product' %>
  </div>
  <div class="col-md-6">
    <%= render 'movements/dashboards/availability_moves' %>
  </div>
</div>