
<div class="col-md-12">
  <p class="text-center">
    <strong>Dashboard</strong>
  </p>
  <div class="col-md-6">
    <div class="box-body">
      <p>Add the classes <code>.btn.btn-app</code> to an <code>&lt;a&gt;</code> tag to achieve the following:</p>
      <a class="btn btn-app">
        <i class="fa fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i class="fa fa-play"></i> Play
      </a>
      <a class="btn btn-app">
        <i class="fa fa-repeat"></i> Repeat
      </a>
      <a class="btn btn-app">
        <i class="fa fa-pause"></i> Pause
      </a>
      <a class="btn btn-app">
        <i class="fa fa-save"></i> Save
      </a>
      <a class="btn btn-app">
        <span class="badge bg-yellow">3</span>
        <i class="fa fa-bullhorn"></i> Notifications
      </a>
      <a class="btn btn-app">
        <span class="badge bg-green">300</span>
        <i class="fa fa-barcode"></i> Products
      </a>
      <a class="btn btn-app">
        <span class="badge bg-purple">891</span>
        <i class="fa fa-users"></i> Users
      </a>
      <a class="btn btn-app">
        <span class="badge bg-teal">67</span>
        <i class="fa fa-inbox"></i> Orders
      </a>
      <a class="btn btn-app">
        <span class="badge bg-aqua">12</span>
        <i class="fa fa-envelope"></i> Inbox
      </a>
      <a class="btn btn-app">
        <span class="badge bg-red">531</span>
        <i class="fa fa-heart-o"></i> Likes
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render 'movements/dashboards/moved_timeline' %>
  </div>

</div>