
<div class="col-md-12">
  <p class="text-center">
    <strong>Dashboard</strong>
  </p>
  <%= select_tag(:item, (options_for_select(Item.all.collect {|f|[f.name]}))) %>
  <%= render 'for_item' %>
</div>