<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1.a
  </div>
  <strong>Compras com rapidez e agilidade<a href="intranet.bombeiros.pe.gov.br"></a>.</strong>
</footer>