<div class="col-xs-12">
  <p class="text-center">
    <strong>Sectors</strong>
  </p>
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Sector</th>
        </tr>
        </thead>

        <tbody>
        <% Sector.all.each do |sector| %>
            <tr>
              <td>
                <div class="progress-group">
                  <span class="progress-text"><%= sector.name %></span>
                  <span class="progress-number"><%= Movement.where(sector_id: sector.id).count('sector_id') %>/<%= Movement.count %></span>

                  <div class="progress sm">
                    <div class="progress-bar progress-bar-aqua" style="width: <%= ((Movement.where(sector_id: sector.id).count('sector_id').to_f/Movement.count.to_f)*100.00) %>%"></div>
                  </div>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>